<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @profile.phone_no %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @profile.admin_id %>
</p>

<%= link_to 'Back', root_path %> |
