<h2>You're Logged out! Log in to the Admin Dashboard</h2>
<%= button_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path, data: {turbo: "false"} %>
<%= button_to "Sign in with Linkdin", admin_linkedin_omniauth_authorize_path, data: {turbo: "false"} %>

<%= button_to "Sign in with GitHub", admin_github_omniauth_authorize_path, data: {turbo: "false"} %>


<%= button_to "Sign in with Facebook", admin_facebook_omniauth_authorize_path ,data: {turbo: "false"} %>

<%= button_to "Sign in with twitter", admin_twitter_omniauth_authorize_path ,data: {turbo: "false"} %>




